<section>
  <div id="collected_currencies_report" class="simple_line_chart" width='300px' height='100px'>
    <%= render 'shared/line_chart', :report => @collection_report, :title => t('reports.collection.title') %>
  </div>

  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <%= render 'collected_currencies_chart', :collected_count => current_user.collected_currencies.count, :not_collected_count => current_user.not_collected_currencies.count %>
  </div>

  <h1>Currencies</h1>
  <br class="clear" />

  <%= form_tag bulk_create_visits_path, :method => :post, :data => {:remote => true}, :class => 'bulk-form' do %>
      <input type="hidden" name="list" value="currencies" />
      <%= submit_tag "Collect selected", :disable_with => 'Updating...' %>

      <table class="filterable">
        <thead>
            <tr>
              <th><label><input type="checkbox" class="select-all-control">Select all</label></th>
              <th>Name</th>
              <th>Code</th>
              <th>Status</th>
              <th></th>
            </tr>
        </thead>

        <tbody>
            <%= render @currencies %>
        </tbody>

      </table>
  <% end %>
</section>