<tr id="<%= dom_id(country) %>">
  <td><input type="checkbox" name="country_ids[]" value="<%= country.id %>"></td>
  <td><%= country.name %></td>
  <td><%= country.code %></td>
  <td><%= country.visited_by?(current_user) ? 'Visited' : 'Not Visited' %></td>
  <td><%= link_to 'Show', country %></td>
  <td><%= link_to 'Edit', edit_country_path(country) %></td>

</tr>
