<section>
  <div id="visited_countries_report" class="simple_line_chart" width='300px' height='100px'>
    <%= render 'shared/line_chart', :report => @visits_report, :title => t('reports.visits.title') %>
  </div>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <%= render 'visited_countries_chart', :visited_count => current_user.visited_countries.count, :not_visited_count => current_user.not_visited_countries.count %>
  </div>

  <h1>Countries</h1>
  <br class="clear" />
  <%= form_tag bulk_create_visits_path, :method => :post, :data => {:remote => true}, :class => 'bulk-form' do %>
      <input type="hidden" name="list" value="countries" />
      <%= submit_tag "Visit selected", :disable_with => 'Updating...' %>
      <table class="filterable">
        <thead>
            <tr>
              <th><label><input type="checkbox" class="select-all-control">Select all</label></th>
              <th>Name</th>
              <th>Code</th>
              <th>Status</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <%= render @countries %>
        </tbody>
      </table>
  <% end %>
</section>